{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<section class="container">
	<h1>Inscription</h1>
		<div class="row">
			<div class="col">
				{{ form_errors(registrationForm) }}

				{{ form_start(registrationForm) }}
				{{ form_row(registrationForm.lastname) }}
				{{ form_row(registrationForm.firstname) }}
				{{ form_row(registrationForm.email) }}
				{{ form_row(registrationForm.tel) }}
				{{ form_row(registrationForm.plainPassword, {
                    label: 'Mot de Passe'
                }) }}
				{{ form_row(registrationForm.address) }}
				<div id="addressSuggestions" class="address-suggestions"></div>
				{{ form_row(registrationForm.zipcode) }}
				{{ form_row(registrationForm.city) }}
				{{ form_row(registrationForm.RGPDConsent, {
					attr: {'class' : 'RGPD'} 
				}) }}

				<button type="submit" class="btn btn-primary btn-lg my-3">M'inscrire</button>
				<a href="{{ path('app_login') }}" class="btn btn-secondary">Me connecter</a>
				{{ form_end(registrationForm) }}
			</div>
		</div>
	</section>
	
	

{% endblock %}

{% block javascripts %}

<script>
document.addEventListener('DOMContentLoaded', function() {
    var addressInput = document.getElementById('registration_form_address');
    if (addressInput) {
        addressInput.addEventListener('input', function() {
            var input = this.value;
           console.log(addressInput);
            if (input.length > 2) {
                fetch('/autocomplete?query=' + encodeURIComponent(input))
                    .then(response => response.json())
                    .then(data => {
                        const suggestionsContainer = document.getElementById('addressSuggestions');
                        suggestionsContainer.innerHTML = ''; // Effacer les anciennes suggestions

                        data.features.forEach(feature => {
                            const suggestionElement = document.createElement('div');
                            suggestionElement.innerText = feature.properties.label;
                            suggestionElement.onclick = function() {
                                document.getElementById('registration_form_address').value = feature.properties.name;
                                document.getElementById('registration_form_zipcode').value = feature.properties.postcode;
                                document.getElementById('registration_form_city').value = feature.properties.city;
                                suggestionsContainer.innerHTML = ''; // Effacer les suggestions après sélection
                            };
                            suggestionsContainer.appendChild(suggestionElement);
                        });
                    })
                    .catch(error => {
                        console.error('Erreur lors de la récupération des données :', error);
                    });
            }
        });
    }
});
</script>

{% endblock %}